#title {
	margin: auto;
	font-size: 50px;
	text-align: center;
	color: white;
	padding-top: 50px;
	}
	
#nav{
	margin: auto;
	width: 50%;
	}

#mid {
	margin: auto;
}

#left, #right {
	margin: auto;
	padding-top: 30px;
}

.main {
	padding-left: 315px;
	padding-top: 500px;
	padding-bottom: 500px;
}
	
#characters {
	margin: auto;
	width: 50%;
}
	
#chartext {
	margin: auto;
	text-align: center;
	padding: 50px 0px;
}

#synopsis {
	padding: 50px 30px;
}

#left, #mid{
	padding-right: 40px;
}
	
* {
	background-color: black;
    	font-family: didot, serif;
	color: white;
}
