.row {
	display: flex;
	align-items: center;
}
	
.column {
	flex: 50%;
}
	
#left {
	padding-left: 40px;
}

#body {
	display: block;
	margin-left: 100px;
	margin-right: auto;
}

h1 {
	font-family: Calisto, serif;
	font-size: 60px;
	font-style: italic;
	text-decoration-line: underline;
	text-decoration-style: double;
	text-underline-offset: 10px;
	text-decoration-thickness: 2px;
}

#intro {
	font-family: Calisto, serif;
	font-style: italic;
	opacity: 0.7;
}

.source {
	text-decoration: none;
}
	
* {
	background-color:  black;
	color: white;
	font-family: Helvetica;
}
