.row {
	display: flex;
	align-items: center;
	}
	
.column {
	flex: 50%;
	}
	
#left {
	padding-left: 40px;
	}
	
#right {
	padding-left: 200px;
	}

h1 {
	font-family: Calisto, serif;
	font-size: 60px;
	font-style: italic;
	text-decoration-line: underline;
	text-decoration-style: double;
	text-decoration-offset: 4px;
	text-decoration-thickness: 1px;
}

#intro {
	font-family: Calisto, serif;
	font-style: italic;
	opacity: 0.7;
}
	
	* {
		background-color:  black;
		color: white;
		font-family: Helvetica;
	}
